header{
    background-image: url("../img/pattern.png");
    background-color: rgb(55, 151, 155);
    background-size: contain;
    
}

#Intestazione_foto{
    width: 200px;
    height: 100px;
    
}




